main{
  background-color: red($color: #c9b1b1);
}

nav{
  width: 100vw;
  display: flex;
  justify-content: center;
  min-width: 600px;
  padding-top: 10px;
  padding-bottom: 17px;
}

.logo{
  display: flex;
  align-items: center;
}
.nav-itens{
  display: flex;
  width: 42vw;
  min-width: 800px;
  justify-content: space-between;
  align-items: center;
}

.new-role{
  margin-right: 20px;
}


button{
  background-color: rgba(0, 0, 0, 0);
  border: solid 1px black;
  border-radius: 8px;
}

.table-filter{
  display: flex;
  align-items: center;
  justify-content: center;

}

select{
  width: 200px;
  height: 40px;
  border: solid 1px black;
  border-radius: 5px;
}

.role-dropdown{
  max-width: 800px;
  min-width: 800px;
  display: flex;
  flex-direction: column;

}
.table-content{
  display: flex;
  align-items: center;
  justify-content: center;
}
.table{
  max-width: 800px;
  min-width: 500px;
}

.delete-icon {
  width: 20px;
  height: auto;
}

.no-data-table{
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.total-salary{
  max-width: 800px;
  width: 800px;
  min-width: 500px;
  display: block;
  justify-content: flex-end;

}

@media (max-width: "800px"){
  .nav-itens{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    min-width: 0;
  }

  .table{
    min-width: 0;
    width: 70vw;
  }

  .role-dropdown{
    min-width: 0;
    width: 70vw;
    display: flex;
    flex-direction: column;

  }

  .total-salary{
    min-width: 0;
    width: 70vw;
    display: block;
    justify-content: flex-end;

  }
  nav{
    min-width: 0;
    width: 100vw;
  }

  .actions{
    display: flex;
    justify-content: space-between;
  }

}
